@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.hide {
  visibility: hidden;
  position: relative;
  left: 7px;
  bottom: 27px;
}

.hide p {
  color: white;
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
  margin: 0px 5px;
}

.card {
  width: 360px;
  height: 340px;
  position: relative;
  background-color: #333333;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  margin-bottom: 50px;
  z-index: 9;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.card:hover .hide{
  visibility: visible;
}

.card:hover{
  /* transform: scale(1.05); */
  /* transform: scaleY(1.1); */
  width: 360px;
  height: 400px;
}

.textBox {
  height: 40%;
}

.rating {
  position: absolute;
  left: 10px;
  font-size: 18px;
  color: greenyellow;
  font-weight: bold;
}

.name {
  font-family: 'Montserrat', sans-serif;
  padding: 30px 10px 15px 10px;
  text-align: center;
  font-size: 22px;
  margin: auto;
  width: 90%;
  font-weight: 800;
}

.nameLink:hover {
  color: whitesmoke;
}

.nameLink{
  color: aquamarine;
}

img {
  border-radius: 0px 0px 15px 15px;
  object-fit: cover;
}

.imgBox {
  position: absolute;
  height: 60%;
  width: 100%;
  bottom: 0;
}

.img-card{
  height: 100%;
  width: auto;
  /* left: 0; */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border-radius: 0px 0px 15px 15px;
}
