.intro {
  position:absolute;
  top:0;
  width: 100vw;
  height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/3026436.jpg');
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

.introButton {
  position:relative;
  top: 220px;
  left: 710px;
}