@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  background-color: darkred;
  z-index: 10;
  opacity: 0;
  top: 0;
}

header:hover{
  opacity: 1;
  transition: all 0.3s ease 0s;
}

.navItem {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: antiquewhite;
  text-align: right;
  /* opacity: 1; */
} 

.navLinks{
  list-style: none;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px 0px 20px;
  transition: all 0.3s ease 0s;
}

.textlink{
  text-decoration: none;
  color: azure;
}
