@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

header {
  display: flex;
  width: 100%;
  height: 80px;
  position: fixed;
  align-items: center;
  background-color: darkred;
  z-index: 10;
  opacity: 0;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
}

header:hover{
  opacity: 1;
  transition: all 0.5s ease 0s;
}

.navItem {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: antiquewhite;
  text-align: right;
} 

.navLinks{
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
}

.navLinks li {
  display: inline-block;
  padding: 0px 20px 0px 20px;
  transition: all 0.5s ease 0s;
}

.textlink{
  text-decoration: none;
  color: azure;
}

.nav{
  width: 40%;
}